@use '@/shared/variables' as *;

.wrapper {
	background-color: $bg-primary;
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

.content {
	display: flex;
	flex: 1 0 auto;
	justify-content: center;
	align-items: center;
}
