@use '@/shared/variables' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefer-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	margin: 0;
	font-size: 16px;
	font-family: 'Roboto', 'Open-Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $text-primary;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

ul,
ol {
	list-style: none;
	padding: none;
}

input,
button,
textarea {
	background: none;
	border: none;
	font-family: inherit;
	color: $text-primary;
}

.container {
	max-width: 750px;
	width: 100%;
	padding: 0 25px;
	margin: 0 auto;
}
